*{
    background-color: black;
}

.text{
    text-align: center;
    color: white;
    font-family: 'Bricolage Grotesque', sans-serif;
}

#header{
    text-transform: uppercase;
}

img{
    width: 50%;
    border: 3px solid white;
    margin-top: 100px;
    margin-left: 150px;
}